@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(172 255 250 / 26%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  padding: 30px 20px;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  gap: 20px;
}
.icons a,
.icons {
  margin: 20px 10px 20px 0;
}

.main {
  width: 28rem;
  font-size: 1.1rem; 
}

.transitionsItem {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  font-size: inherit;
}

.bannerImg {
  border-radius: 61px 63px 200px 200px;
  box-shadow: 8px 9px 12px 2px #8080807a;
  height: 300px;
}


@media (max-width: 1200px) {
  .main {
    width: auto;
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main {
    font-size: 1.1rem;
  }
  .transitionsItem {
    font-size: inherit;
  }

}

@media (max-width: 480px) {
  .container {
    width: 95%;
    margin-top: 40px;
  }
  .main {
    font-size: 0.8rem; 
  }
  .transitionsItem {
    font-size: inherit;
  }

}
