.skillsSection {
    padding: 2rem;
    background: #dafffd4a;

  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }
  
    .card {
      font-size: 0.9rem;
    }
  }
  