.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    background: #dafffd4a;
    color: black;
    overflow-x: hidden;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  }
  
  .photo {
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
  }
  
  @media (min-width: 768px) {
    .photo {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .details {
    max-width: 600px;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  
  @media (min-width: 768px) {
    .details {
      text-align: left;
    }
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: BLACK;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  
  .infoList {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }
  
  .infoList li {
    margin-bottom: 0.5rem;
  }
  
  .downloadBtn {
    background: #ffc107;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .downloadBtn:hover {
    background: #e0a800;
  }
  